@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ASP.NET_RazorPages.Pages.IndexModel
@{
    ViewBag.Title = "Varkala E-commerce";
}
@section Links{

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11.0.5/swiper-bundle.min.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="./assets/styles/css/main.css">
}
    <svg viewBox="50 60 400 400" xmlns="http://www.w3.org/2000/svg" class="static-blob">
        <path fill="#e0d4ab"
              d="M60.5,-43.1C76,-28.9,84.3,-3.9,78,15.4C71.7,34.8,50.8,48.4,28.5,59C6.3,69.6,-17.3,77.2,-35.2,69.8C-53.1,62.4,-65.3,40.1,-70.5,16.3C-75.7,-7.4,-73.9,-32.5,-61,-46.1C-48.1,-59.8,-24,-62,-0.8,-61.4C22.5,-60.8,45.1,-57.4,60.5,-43.1Z"
              transform="translate(100 100)" />
    </svg>
    <main>
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="slider">
                        <div class="left">
                            <div class="write">
                                <p>Time is almost up</p>
                                <h2 class="h2-first">Design clocks on sale</h2>
                                <a class="btn btn-outline" asp-page="">Start Shopping</a>
                            </div>
                        </div>
                        <div class="right">
                            <div class="clock">
                                <img src="./assets/images/index/slider/clock-transparent.png" alt="Clock">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="swiper-slide">
                    <div class="slider">
                        <div class="left">
                            <div class="write">
                                <p>Our all-time favourites</p>
                                <h2>Black & White</h2>
                                <span>
                                    The bedding was hardly able to cover it and seemed ready to slide off any
                                    moment. His many legs, pit
                                </span>
                                <a class="btn btn-outline" asp-page="">Discover more</a>
                            </div>
                        </div>
                        <div class="right">
                            <div class="chair">
                                <img src="./assets/images/index/slider/chair-transparent.png" alt="Chair">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slider">
                        <div class="left">
                            <div class="write">
                                <p>Our all-time favourites</p>
                                <h2>Boxxez</h2>
                                <span>
                                    The bedding was hardly able to cover it and seemed ready to slide off any
                                    moment. His many legs, pit
                                </span>
                                <a class="btn btn-outline" asp-page="">Discover more</a>
                            </div>
                        </div>
                        <div class="right">
                            <div class="box">
                                <img src="./assets/images/index/slider/box-transparent.png" alt="Box">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <!-- <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div> -->
            <!-- If we need scrollbar -->
            <!-- <div class="swiper-scrollbar"></div> -->
        </div>
        <section class="top__choice" data-aos="zoom-in-up" data-aos-once="true">
            <div class="row top__choice__first">
                <div class="col-12 mb-1 top__choice__first__paragraph">
                    <p class="text-uppercase text-muted font-weight-bold mb-1">Top choices</p>
                </div>
                <div class="col-12 mb-2 top__choice__first__heading">
                    <h3>Popular this week</h3>
                </div>
                <div class="col-12 top__choice__first__lorem">
                    <p class="text-muted">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
            </div>
            <div class="row top__choice__second">
                <div class="col-md-12 col-lg-6 top__choice__second__book">
                    <img src="./assets/images/index/popular/book-sq.jpg" alt="Book-sq">
                    <div class="top__choice__second__book__text">
                        <h3 class="fw-bold">Furniture <br> source <br> book</h3>
                        <p class="text-muted">$39.90</p>
                        <a asp-page="">Shop now</a>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6 top__choice__second__chair">
                    <img src="./assets/images/index/popular/chair-2-sq.jpg" alt="Chair2-sq">
                    <div class="top__choice__second__chair__text">
                        <h3 class="fw-bold">Norwegg <br> design <br> chair</h3>
                        <p class="text-muted">$39.90</p>
                        <a asp-page="">Shop now</a>
                    </div>
                </div>
            </div>
            <div class="row top__choice__third">
                <div class="col-md-12 col-lg-6 top__choice__third__clock">
                    <img src="./assets/images/index/popular/clock-sq.jpg" alt="Clock-sq">
                    <div class="top__choice__third__clock__text">
                        <h3 class="fw-bold">Sunn <br> Clock</h3>
                        <p class="text-muted">$89.90</p>
                        <a asp-page="">Shop now</a>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6 top__choice__third__box">
                    <img src="./assets/images/index/popular/box-sq.jpg" alt="Box-sq">
                    <div class="top__choice__third__box__text">
                        <h3 class="fw-bold">Accessory <br> boxes</h3>
                        <p class="text-muted">$29.90</p>
                        <a asp-page="">Shop now</a>
                    </div>
                </div>
            </div>
            <div class="row top__choice__fourth">
                <div class="col-md-12 col-lg-6 top__choice__fourth__clock">
                    <img src="./assets/images/index/popular/clock2-sq.jpg" alt="Clock2-sq">
                    <div class="top__choice__fourth__clock__text">
                        <h3 class="fw-bold">Swiss <br> Minutes <br> Black</h3>
                        <p class="text-muted">$149.90</p>
                        <a asp-page="">Shop now</a>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6 top__choice__fourth__chair">
                    <img src="./assets/images/index/popular/chair3-3-sq.jpg" alt="Chair3-sq">
                    <div class="top__choice__fourth__chair__text">
                        <h3 class="fw-bold">Korona <br> dining <br> room chair</h3>
                        <p class="text-muted">$39.90</p>
                        <a asp-page="">Shop now</a>
                    </div>
                </div>
            </div>

        </section>
        <section class="section__sale" data-aos="zoom-in-up" data-aos-once="true">
            <div class="section__sale__blob"></div>
            <div class="container">
                <div class="row section__sale__week">
                    <div class="col-6 section__sale__week__text">
                        <p class="mb-1 text-danger">Deal of the week</p>
                        <h3>Black and white Nordegg chairs</h3>
                        <p class="text-muted">
                            <del class="me-3">$129.00</del>
                            <span>$79.00</span>
                        </p>
                        <p class="mb-2"><span class="badge bg-danger p-3">$50 off</span></p>
                        <div class="bg-white px-5 py-4 shadow mb-4" id="countdown">
                            <div class="row justify-content-between">
                                <div class="col-6 col-sm-3 text-center mb-4 mb-sm-0">
                                    <h6 class="h4 mb-2 days" id="days">0</h6><span class="text-muted">days</span>
                                </div>
                                <div class="col-6 col-sm-3 text-center mb-4 mb-sm-0">
                                    <h6 class="h4 mb-2 hours" id="hours">0</h6><span class="text-muted">hours</span>
                                </div>
                                <div class="col-6 col-sm-3 text-center">
                                    <h6 class="h4 mb-2 minutes" id="minutes">0</h6><span class="text-muted">minutes</span>
                                </div>
                                <div class="col-6 col-sm-3 text-center">
                                    <h6 class="h4 mb-2 seconds" id="seconds">0</h6><span class="text-muted">seconds</span>
                                </div>
                            </div>
                        </div>
                        <p><a asp-page="" class="btn btn-outline-dark">Shop now</a></p>
                    </div>
                    <div class="col-6 section__sale__week__image">
                        <div>
                            <img src="./assets/images/index/slider/chair-transparent.png" alt="Chair">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section__cart" data-aos="zoom-in-up" data-aos-once="true">
            <div class="container mt-2">
                <div class="row">
                    <div class="col-12 section__cart__title">
                        <h2>New Arrivals</h2>
                        <p class="text-muted mb-5">
                            One morning, when Gregor Samsa woke from troubled dreams, he found
                            himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and
                            if he lifted his head a little he could see his brown belly, slightly domed and divided by
                            arches into stiff sections
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 section__cart__list">
                        <ul>
                            <li><a asp-page="" style="color: #212529;">All Products</a></li>
                            <li><a asp-page="">Chairs </a></li>
                            <li><a asp-page="">Books</a></li>
                            <li><a asp-page="">Clothes</a></li>
                            <li><a asp-page="">Accessories</a></li>
                        </ul>
                    </div>
                    <div class="col-6 section__cart__list2">
                        <a asp-page="">All products</a>
                    </div>
                </div>
                <div class="row position-relative all-columns" id="product-container">
                </div>
            </div>
        </section>

        <section class=" summer mt-5 mb-5" data-aos="zoom-in-up" data-aos-once="true">
            <div class="summer__sale">
                <div class="summer__sale__blob">
                </div>
                <div class="summer__sale__text">
                    <h4 class="fw-bold mb-3">Summer Sales</h4>
                    <h5 class="fw-light mb-5">Our biggest sales this year — up to 60% off!</h5>
                    <a asp-page="" class="btn btn-outline-dark">Start shopping</a>
                </div>
                <div class="summer__sale__chair">
                    <img src="./assets/images/index/chair-transparent.png" alt="">
                </div>
            </div>
        </section>
    </main>

    <!-- Detail modal -->
    <div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-12 detail__modal__img">
                                        <img src="./assets/images/index/detail/detail-1.jpg" alt="Detail-1"
                                             class="main-image">
                                        <span class="badge badge1">Fresh</span>
                                        <span class="badge badge2">Sale</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-2 detail__modal__imgs">
                                        <img src="./assets/images/index/detail/detail-1.jpg" alt="Detail-1"
                                             class="thumbnail">
                                    </div>
                                    <div class="col-2 detail__modal__imgs">
                                        <img src="./assets/images/index/detail/detail-2.jpg" alt="Detail-2"
                                             class="thumbnail">
                                    </div>
                                    <div class="col-2 detail__modal__imgs">
                                        <img src="./assets/images/index/detail/detail-3.jpg" alt="Detail-3"
                                             class="thumbnail">
                                    </div>
                                    <div class="col-2 detail__modal__imgs">
                                        <img src="./assets/images/index/detail/detail-4.jpg" alt="Detail-4"
                                             class="thumbnail">
                                    </div>
                                    <div class="col-2 detail__modal__imgs">
                                        <img src="./assets/images/index/detail/detail-5.jpg" alt="Detail-5"
                                             class="thumbnail">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row detail__modal__text">
                                    <div class="col-12">
                                        <h2>Push-up Jeans</h2>
                                    </div>
                                    <div class="col-6 detail__modal__text__cost">
                                        <span>$65.00</span>
                                        <del>$90.00</del>
                                    </div>
                                    <div class="col-6 detail__modal__text__icons">
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star"></i>
                                        <span>25 REVIEWS</span>
                                    </div>
                                    <div class="col-12 detail__modal__text__paragraph">
                                        <p>
                                            Samsa was a travelling salesman - and above it there hung a picture that he
                                            had recently cut out of an illustrated magazine and housed in a nice, gilded
                                            frame.
                                        </p>
                                    </div>
                                    <div class="col-12 detail__modal__text__feature">
                                        <h6>Size <span>(required)</span></h6>
                                    </div>
                                    <div class="col-12 detail__modal__text__select">
                                        <select class="form-select" aria-label="Default select example">
                                            <option value="1" selected class="fw-bolder">Small</option>
                                            <option value="2" class="fw-bolder">Medium</option>
                                            <option value="3" class="fw-bolder">Large</option>
                                        </select>
                                    </div>
                                    <div class="col-12 detail__modal__text__feature">
                                        <h6>Type <span>(required)</span></h6>
                                    </div>
                                    <div class="col-12 detail__modal__text__link">
                                        <a class="btn" asp-page="">Hoodie</a>
                                        <a class="btn" asp-page="">College</a>
                                    </div>
                                    <div class="col-12 detail__modal__text__form">
                                        <input type="number" value="1">
                                        <button class="btn-dark btn-block" type="submit">
                                            <i class="fa fa-shopping-cart mr-2"></i>Add to Cart
                                        </button>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-6 detail__modal__text__wl">
                                        <a asp-page=""> <i class="far fa-heart me-2"></i>Add to wishlist </a>
                                    </div>
                                    <div class="col-6 detail__modal__text__social">
                                        <a asp-page=""><i class="bi bi-facebook"></i></a>
                                        <a asp-page=""><i class="bi bi-twitter"></i></a>
                                    </div>
                                    <div class="col-12 detail__modal__text__footer">
                                        <ul class="list-unstyled">
                                            <li><strong>Category:</strong> <a class="text-muted" asp-page="">Jeans</a></li>
                                            <li>
                                                <strong>Tags:</strong> <a class="text-muted" asp-page="">Leisure</a>, <a class="text-muted" asp-page="">Elegant</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

@section Scripts{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11.0.5/swiper-bundle.min.js"></script>
    <script src="./assets/scripts/js/swiper.js"></script>
    <script src="./assets/scripts/js/accordion.js"></script>
    <script src="./assets/scripts/js/countdown.js"></script>
    <script src="./assets/scripts/js/navbar.js"></script>
    <script type="module" src="./assets/scripts/js/cart.js"></script>
    <script src="./assets/scripts/js/main.js"></script>
    <script>
        AOS.init();
    </script>
}